<!DOCTYPE html>
<html>
<head>
  <title>McGill Robotics Lens</title>
  <link rel="stylesheet" type="text/css"
  href="{{ static_url("css/annotation_tool.css") }}">

  <!--
    @TODO : add circles, and also add arbitrary polygons
    @TODO : angled rectangles
    Onclick Function.
     * Need to add the onclick functionality
    @TODO : Selecting instead of just free form input
  -->


  <!--
    The following script tag fetches the Lens.js script from
    annotation_tool/javascript. The script contains the pages
    event listeners and is the driver of the annotation tool.
    Its entry point is the Lens.methods.init method, which is
    triggered by the onload event of the body.
   -->
  <script type="text/javascript" src="/lens?script=Lens.js"></script>


  <!--
    The image class contains the container for the image
    as well as the Annotation table data.
  -->
  <script type="text/javascript" src="/lens?script=Image.js"></script>

  <!--
    The Annotation Table is the Object that allows us to
    keep track of all annotations.
  -->
  <script type="text/javascript" src="/lens?script=AnnotationTable.js">
  </script>

  <!--
    The Annotation is an Object template for the Annotations of the image.
  -->
  <script type="text/javascript" src="/lens?script=Annotation.js"></script>

  <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  >

</head>
<body onload="Lens.methods.init()">
  <h3>McGill Robotics Lens</h3>

  <div id="img-container">
    <svg id="annotate-img" class="annotate-img"
         xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="label-background-light" x="-0.1" y="0" width="1.2"
          height="1">
          <feFlood flood-color="white" />
          <feComposite in="SourceGraphic" />
        </filter>
        <filter id="label-background-dark" x="-0.1" y="0" width="1.2"
          height="1">
          <feFlood flood-color="black" />
          <feComposite in="SourceGraphic" />
        </filter>
      </defs>
    </svg>
  </div>

  <p>
    <b>Help: </b> <br>
    Click and drag on the image to select a region you wish to annotate. <br>
    You will be prompted to enter a label for the selected region.
  </p>

  <!-- Configure this button to set the 'Tags' of the image -->
  <div>
    <button type="button" onclick="Lens.methods.submit(false);">
      Nothing Interesting
    </button>
  </div>

  <div>
    <button type="button" onclick="Lens.methods.submit(true);">
      Submit Annotations
    </button>
  </div>

  <div id="overlay"></div>
  <div id="popup">
    <span id="close-button">
      <i class="fa fa-times"></i>
    </span>

    <div id="popup-table">
      <table>
        <tr class="attribute-names">
          <th id="attr-row-label">Attribute</th>
        </tr>
        <tr class="attribute-values">
          <th id="val-row-label">Value</th>
        </tr>
      </table>
    </div>
    <div class="delete-annotation">
      <span id="delete-annotation" class="delete-annotation">
        Delete <i class="fa fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>

</body>
</html>
