<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Upload Bag</title>
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
      }
      #recorded {
        display: none;
      }
    </style>
    <script type="text/javascript">
      var bag;
      var fname;
      var robot;
      var conditions;
      var recorded;
      var loc;
      var details;
      var upload_button;

      function init() {
        bag = document.getElementById("bag");
        fname = document.getElementById("fname");
        robot = document.getElementById("robot");
        conditions = document.getElementById("conds");
        recorded = document.getElementById("recorded");
        loc = document.getElementById("loc");
        details = document.getElementById("details");
        upload_button = document.getElementById("upload");
      }

      function update() {
        if (!bag.files.length) {
          fname.value = "";
          recorded.value = "";
          robot.value = "";
          conditions.value = "";
          details.style.display = "none";
          return;
        }

        file = bag.files[0];

        if (!fname.value) {
          fname.value = file.name;
        }
        recorded.value = file.lastModifiedDate.toISOString();
        details.style.display = "block";

        if (fname.value && recorded.value && loc.value &&
            robot.value && conditions.value) {
          upload_button.disabled = false;

          document.getElementById('bag_form').action = "/upload?bag=" +
          bag.value + "&name=" + fname.value + "&robot=" + robot.value +
          "&conditions=" + conditions.value.split(/[ ,]+/).join(',') +
          "&recorded=" + recorded.value + "&location=" + loc.value;
        } else {
          upload_button.disabled = true;
        }
      }
    </script>
  </head>
  <body onload="init()">
    <h1>Upload Bag</h1>
    <form id="bag_form" enctype="multipart/form-data"
    action="/upload" method="post">
      <input id="bag" onchange="update()"
        type="file" name="bag" accept=".bag" /><br>
      <fieldset id="details" style="display: none;">
        <legend>Details</legend>

        <label for="name">Name</label>
        <input onchange="update()" id="fname" name="name" type="text">
        <br>
        <label for="robot">Robot</label>
        <input onchange="update()" id="robot" name="robot" type="text">
        <br>
        <label for="location">Location</label>
        <input onchange="update()" id="loc" name="location" type="text">
        <br>
        <label for="conditions">Conditions</label>
        <input onchange="update()" id="conds" name="conditions" type="text">
        <br>
        Note: space or comma separated
        <br>

        <!-- Hidden timestamp -->
        <input id="recorded" name="recorded" type="text" >
      </fieldset>
      <input id="upload" type="submit" value="Upload" disabled />
    </form>
  </body>
</html>
