<!DOCTYPE html>
<html>
<head>
    <title>Lens</title>
</head>
<style>
body {background-color:black;}
h1 {color: white;}
p {color: white;}
</style>
<body>
    <h1 style="text-align:center;">Welcome to Lens!</h1>
    <p title="Welcolme to Lens!">
    About Lens...
    </p>
<button type="button" style="background-color:black; color:white;font-size:100px; width:280px;height:200px" onclick="myfunction('lens')" >Lens</button>
<script type="text/javascript">
	function myfunction(page){
  window.location = '/' + page;
}
</script>
</body>c
</html>
