<!DOCTYPE html>
<html>
<head>
  <title>McGill Robotics Lens</title>
  <style type="text/css">
    table, th, td {
      border: 3px solid black;
      border-collapse: collapse;
    }
    tr {
      padding: 15px;
    }
    th, td {
      padding: 15px;
      text-align: center;
      vertical-align: center;
    }
    #annotation-header {
      background-color: #CDCCCC;
    }
    #annotate-img{
      background-image: url("https://i.ytimg.com/vi/NtgtMQwr3Ko/maxresdefault.jpg");
      background-size: 100% 100%;
      height: 400px;
      width: 600px;
    }
  </style>
  <script type="text/javascript">
    'use strict';

    @TODO : Refactor into OO code
    @TODO : Add action to submit button
    @TODO : Change image size
    @TODO : Add mobile detection


    /* LENS Global stores all data & functionality related to LENS appart from constructors and class methods.*/
    var LENS = {
      page : undefined, // Gets initialized by the body elements onload event handler
      methods : {
        /**
         * Initialize the page property and add all required event listeners.
         * @return undefined
         */
        init : function () {
          LENS.page = new Page();
          LENS.methods.initializeImageListeners();
        },

        /**
         * Initialize the event listeners relevant to the selection of regions on the image.
         * @return undefined
         */
        initializeImageListeners : function () {
          var image = LENS.page.image.container; // The HTML element that contains the image to be annotated

          @TODO: Change the way the event listeners work such that when the image is clicked it add event listeners.
          // The above todo will avoid the need of having the vertices as globally stored properties.
          image.addEventListener('mousedown', LENS.methods.imageDownClickListener);
          image.addEventListener('mouseup', LENS.methods.imageReleaseClickListener);
          document.addEventListener('mouseup', LENS.methods.unsetVertices);
        },

        /**
         * Sets the starting point (x and y) of the LENS object when the image is clicked.
         * @param  {MouseEvent} event : The event object containing all relevant event data.
         * @return undefined
         */
        imageDownClickListener : function (event) {
          // Check for an offset on the element that triggered the event
          var triggerElement = event.target;
          var elementOffsetX = triggerElement.getAttribute('img-offsetx') || 0;
          var elementOffsetY = triggerElement.getAttribute('img-offsety') || 0;

          LENS.properties.vertices.startX = event.offsetX + elementOffsetX;
          LENS.properties.vertices.startY = event.offsetY + elementOffsetY;
        },

        /**
         * Handles the addition of annotations when the user releases a click on the image.
         * @param  {MouseEvent} event : The event object containing all relevant event data.
         * @return undefined
         */
        imageReleaseClickListener : function (event) {
          // TODO, add logic such that it doesn't catch events that are just clicks without drags
          if (LENS.properties.vertices.startX !== undefined && LENS.properties.vertices.startY !== undefined) {
            LENS.properties.vertices.endX = event.offsetX;
            LENS.properties.vertices.endY = event.offsetY;


            /* Create anotation here */
            //Draw box before prompting for label
            var label = promptUserForLabel();
            // If the label is not empty then proceed
            if (label) {
              drawRect()
              appendInput(label, document.getElementById('labels'));
            }
          }
        },

        /**
         * Unset vertices fields.
         * @return undefined
         */
        unsetVertices : function () {
          for (var keys in LENS.properties.vertices) {
            if (LENS.properties.vertices.hasOwnProperty(keys)) {
              LENS.properties.vertices[keys] = undefined;
            }
          }
        }
      }
    };

    /**
     * Constructs a Page object which allows us to keep track of important contents of the page.
     * @constructor
     */
    function Page () {
      this.image = new Image();
      this.imageId = '';
      this.vertices = {
        startX : undefined,
        startY : undefined,
        endX : undefined,
        endY : undefined
      }
    }

    function Image () {
      this.container = document.getElementById('annotate-img');
      this.annotationTable = new AnnotationTable ();
    }

    function AnnotationTable () {
      this.annotations = [];
      this.table = document.getElementById('annotation-table');
    }

    function Annotation (vertices) {
      this.x = vertices.startX;
      this.y = vertices.startY;
      this.width = vertices.endX - vertices.startX;
      this.height = vertices.endY - vertices.startY;
      this.boxElement = this.drawBox();
      this.label = this.promptUserForLabel();
    }

    /**
     * Uses the coordinates, width and height to draw containing region.
     * @return {[type]} svgBox : The HTML element for drawn box.
     */
    Annotation.prototype.drawBox = function () {
      var image = document.getElementById('annotate-img');
      var rectangle = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
      rectangle.setAttribute('width', this.width);
      rectangle.setAttribute('height', this.height);

      // Complete this
      rectangle.setAttribute('x', Math.min(LENS.properties.vertices.startX, LENS.properties.vertices.endX));
      rectangle.setAttribute('y', Math.min(LENS.properties.vertices.startY, LENS.properties.vertices.endY));
      rectangle.setAttribute('stroke-width', '3');
      rectangle.setAttribute('stroke', 'red');
    }

    Annotation.prototype.removeBox = function(first_argument) {
      // body...
    };

    /**
     * Requests that the user enter a label for the selected region.
     * @return {string} label : The user entered annotation.
     */
    Annotation.prototype.promptUserForLabel = function(){
      return prompt('Label:');
    };

    // Make this a class method of the Annotation
    function drawRect () {
      var image = document.getElementById('annotate-img');
      var rectangle = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
      rectangle.setAttribute('width', Math.abs(LENS.properties.vertices.startX - LENS.properties.vertices.endX));
      rectangle.setAttribute('height', Math.abs(LENS.properties.vertices.startY - LENS.properties.vertices.endY));
      rectangle.setAttribute('x', Math.min(LENS.properties.vertices.startX, LENS.properties.vertices.endX));
      rectangle.setAttribute('y', Math.min(LENS.properties.vertices.startY, LENS.properties.vertices.endY));
      rectangle.setAttribute('stroke-width', '3');
      rectangle.setAttribute('stroke', 'red');
      rectangle.setAttribute('fill', 'transparent');

      rectangle.createAttribute('img-offsetx');
      rectangle.createAttribute('img-offsety');
      rectangle.setAttribute('img-offsetx', Math.min(LENS.properties.vertices.startX, LENS.properties.vertices.endX));
      rectangle.setAttribute('img-offsety', Math.min(LENS.properties.vertices.startY, LENS.properties.vertices.endY));
      image.appendChild(rectangle);
    }


    // Make this a class method
    function appendInput(label, element) {

      var previousData = JSON.parse(element.getAttribute('value'));

      var inputData = {};
      inputData.v1x = LENS.properties.vertices.startX;
      inputData.v1y = LENS.properties.vertices.startY;
      inputData.v2x = LENS.properties.vertices.endX;
      inputData.v2y = LENS.properties.vertices.endY;
      inputData.label = label;

      var newData = previousData.push(inputData);
      element.setAttribute('value', JSON.stringify(newData));
    }

  </script>
</head>
<body onload="LENS.methods.init()">
  <h3>McGill Robotics LENS</h3>

  <!--Consider putting this in a DIV-->
  <svg id="annotate-img" xmlns="http://www.w3.org/2000/svg"></svg>

  <div style="overflow-x:auto;">
    <table id="annotation-table">
      <tr class="annotation-header" id="annotation-header">
        <th>colour</th><th>label</th><th>x</th><th>y</th><th>width</th><th>height</th><th>remove</th>
      </tr>
    </table>
  </div>
  <p>
    <b>Help: </b> <br>
    Click and drag on the image to select a region you wish to annotate. <br>
    You will be prompted to enter a label for the selected region.
  </p>

  <form>
    <!--JSON input-->
    <input type="hidden" id="labels" name="labels" value="[]">
    <input type="submit" value="Submit">
  </form>

</body>
</html>
