<!DOCTYPE html>
<html>
<head>
  <title>McGill Robotics Lens</title>
  <style type="text/css">
    #annotate-img{
      background-image: url("http://dreamatico.com/data_images/cat/cat-4.jpg");
      background-size: 100% 100%;
      height: 400px;
      width: 600px;
    }
  </style>
  <script type="text/javascript">
    'use strict'
    var vertices = {};
    vertices.startX;
    vertices.startY;
    vertices.endX;
    vertices.endY;

    var inputData;

    document.addEventListener("DOMContentLoaded", initializeImageListeners, false);

    function initializeImageListeners (initializationEvent) {
      var image = document.getElementById('annotate-img');

      image.addEventListener('mousedown', function (event) {
        // Check for an offset on the element that triggered the event
        var triggerElement = event.target;
        var elementOffsetX = triggerElement.getAttribute('img-offsetx') || 0;
        var elementOffsetY = triggerElement.getAttribute('img-offsety') || 0;

        vertices.startX = event.offsetX + elementOffsetX;
        vertices.startY = event.offsetY + elementOffsetY;
      });

      image.addEventListener('mouseup', function (event) {
        // TODO, add logic such that it doesn't catch events that are just clicks without drags
        if (vertices.startX !== undefined && vertices.startY !== undefined) {
          vertices.endX = event.offsetX;
          vertices.endY = event.offsetY;

          var label = promptUserForLabel();
          // If the label is not empty then proceed
          if (label) {
            drawRect()
            appendInput(label, document.getElementById('labels'));
          }
        }
      });

    }

    document.addEventListener('mouseup', unSetValues);


    // TODO: Create a better interface for these, so that the functions don't need to polute the global scope
    function promptUserForLabel() {
      // This will become much more involved and pretty
      return prompt('Please enter a label');
    }

    function drawRect () {
      var image = document.getElementById('annotate-img');
      var rectangle = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
      rectangle.setAttribute('width', Math.abs(vertices.startX - vertices.endX));
      rectangle.setAttribute('height', Math.abs(vertices.startY - vertices.endY));
      rectangle.setAttribute('x', Math.min(vertices.startX, vertices.endX));
      rectangle.setAttribute('y', Math.min(vertices.startY, vertices.endY));
      rectangle.setAttribute('stroke-width', '3');
      rectangle.setAttribute('stroke', 'red');
      rectangle.setAttribute('fill', 'transparent');

      rectangle.createAttribute('img-offsetx');
      rectangle.createAttribute('img-offsety');
      rectangle.setAttribute('img-offsetx', Math.min(vertices.startX, vertices.endX));
      rectangle.setAttribute('img-offsety', Math.min(vertices.startY, vertices.endY));
      image.appendChild(rectangle);
    }

    function appendInput(label, element) {

      var previousData = JSON.parse(element.getAttribute('value'));

      var inputData = {};
      inputData.v1x = vertices.startX;
      inputData.v1y = vertices.startY;
      inputData.v2x = vertices.endX;
      inputData.v2y = vertices.endY;
      inputData.label = label;

      var newData = previousData.push(inputData);
      element.setAttribute('value', JSON.stringify(newData));
    }

    function unSetValues () {
      for (var keys in vertices) {
        if (vertices.hasOwnProperty(keys)) {
          vertices[keys] = undefined;
        }
      }
    }

  </script>
</head>
<body>
  <svg id="annotate-img" xmlns="http://www.w3.org/2000/svg"></svg>

  <form>
    <!--JSON input-->
    <input type="hidden" id="labels" name="labels" value="[]">
    <input type="submit" value="Submit">
  </form>

</body>
</html>
