body {
  font-family: Arial;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px 4px 4px 4px;
}

h3, p, div {
  text-align: center;
}

tr {
  padding: 15px;
}

th, td {
  padding: 15px;
  text-align: center;
  vertical-align: center;
}

h1#title {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;

  margin: 0;

  font-family: sans-serif;
  font-size: 1rem;
}

#img-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 140px;

  background-color: #777;

  overflow-y: auto;
}
#sidebar {
  box-sizing: border-box;

  position: absolute;
  top: 0; bottom: 0; right: 0;
  width: 140px;
  padding: 10px;

  background-color: #1b1b1b;
}
#sidebar #mr-logo {
  max-width: 100%;
  margin-bottom: 10px;
}
#sidebar ul {
  list-style: none;
  padding: 0; margin: 0;
}
#sidebar ul #bottom {
  position: absolute;
  bottom: 0;
}
#sidebar ul li {
  margin-bottom: 10px;
}
#sidebar ul li h4 {
  color: #777;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
}
#sidebar ul li button {
  box-sizing: border-box;

  width: 120px;
  height: 40px;
  line-height: 36px;
  vertical-align: top;

  border: 2px solid #ffffff;
  background-color: #1b1b1b;

  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f9f9f9;

  outline: none;

  transition: background-color 0.15s;
}
#sidebar ul li button.big {
  height: 80px;
  line-height: 74px;

  font-size: 1.5rem;
}
#sidebar ul li button:disabled {
  border: 2px solid #999;
  color: #999;
  cursor: not-allowed;
}
#sidebar ul li button i {
  display: inline-block;
  vertical-align: top;
  font-size: 1.1rem;
  margin-top: 8px;

  color: #d9d9d9;
}
#sidebar ul li button:active, #sidebar ul li button.active {
  background-color: #fff;
  color: #1b1b1b;
  transition: background-color 0.15s;
}
#sidebar ul li hr {
  border: none;
  border-top: 1px solid #C9C9C9;
}

#help {
  position: absolute;
  bottom: 0; left: 0; right: 140px;

  padding: 7px; margin: 0;

  background-color: #AAA;
  border-top: 1px solid #666;

  font-family: sans-serif;
  font-size: 0.9rem;
}

.annotation {
  pointer-events: none;
}

.annotation-group text {
  filter: url(#label-background-light);
  stroke: #000000;
  fill: #000000;
  font-family: Arial;
}
.annotation-group:hover text {
  filter: url(#label-background-dark);
  stroke: #FFFFFF;
  fill: #FFFFFF;
}

div.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#annotation-header {
  background-color: #CDCCCC;
}
#annotate-img {
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #444;
  box-shadow: 0px 1px 3px rbga(0, 0, 0, 0.1);
}

#dragShape {
  border: 1px dashed red;
  position: absolute;
  pointer-events: none;
}
#dragShape.ellipse {
  border-radius: 100%; /* Turn it into an ellipse */
}

#overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 99999;
}

#popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  margin-top: -100px;
  margin-left: -200px;
  background: #FFFFFF;
  border: 2px solid #000;
  z-index: 100000;
}

#popup-table {
  overflow-x: auto;
  margin: 10px 10px 10px 10px;
}

#close-button {
  float: right;
  font-size: 10px;
  margin: 2px 2px 2px 2px;
  padding : 2px 2px 2px 2px;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

#close-button:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

div.delete-annotation{
  margin-top: 25px;
}

span.delete-annotation{
  padding: 10px 10px 10px 10px;
  background-color: #ff0000;
  color: #FFFFFF;
  border: 3px solid #ff0000;

}

span.delete-annotation:hover {
  background-color: #FFFFFF;
  color: #ff0000;
  font-weight: bold;
}
